body {
        background-color: orange;
}
nav{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}
.nav-link{
    font-weight: bold;    
}
.nav-link{
    font-style: italic;
}
.nav-link:hover{
    background-color: yellow !important; 
}
.nav-link:hover{
    opacity: 1
}
/*successful*/
header{
    height: 550px; 
    width: 100%;
    background-image: url("cover.jpeg");
    background-size: cover;
    /*text align*/
    text-align: center;
}
header p{ 
    font-style: italic;
    color: green;
}
header h1{
    color: blue;
}    
.services {
    text-align: center;
}
.services i{
    font-size: 50px;
    padding: 10px 13px;
    
    color:#fff;
    background-color: blue;
    
    width: 70px;
    height: 70px;
    border-radius: 50%
}
